/* ======= footer css ======= */

.footer {
  background-image: url("../img/footer/footer-bg.svg");
  background-size: cover;
  background-position: top right;
  padding-top: 260px;
  margin-top: 100px;

  @media #{$md} {
    padding-top: 250px;
  }
  @media #{$xs} {
    padding-top: 120px;
    background: $theme-color;
  }

  .widget-wrapper {
    .footer-widget {
      margin-bottom: 40px;

      .desc {
        @media #{$desktop} {
          padding-right: 100px;
        }
        @media #{$sm} {
          padding-right: 50px;
        }
      }

      .socials {
        display: flex;
        align-items: center;

        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          a {
            @extend %flex-center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: rgba($white, 0.13);
            color: $white;

            &:hover {
              color: $theme-color;
              background: $white;
            }
          }
        }
      }

      h3 {
        margin-bottom: 25px;
        color: $white;
      }
      ul.links {
        li {
          font-size: 18px;
          line-height: 34px;

          a {
            color: $white;

            &:hover {
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
}
